* {
  margin: 0px;
}

.container {
  margin: 0 350px;
}

header {
  background-color: #0D74BF;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.title {
  color: white;
  font-weight: bold;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.navigation__item {
  padding-left: 10px;
  padding-right: 10px;
}
* {
  margin: 0px;
}

header {
  background-color: #0D74BF;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.title {
  color: white;
  font-weight: bold;
}

.navigation {
  display: flex;
  padding: 10px;
}

.navigation__item {
  padding-left: 10px;
  padding-right: 10px;
  color: dimgray;
}

.navigation__item--blue {
  padding-left: 10px;
  padding-right: 10px;
  color: #0D74BF;
  font-weight: bold;
}

.navigation__item--red {
  padding-left: 10px;
  padding-right: 10px;
  color: red;
}

.news-container {
  background-color: #ECECEC;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  border-top: 1px solid cadetblue;
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.primary-panel {
  width: 70%;
  padding-right: 10px;
}

.image {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.secondary-panel {
  width: 40%;
  padding-left: 10px;
}
