* {
  margin: 0px;
}

.container {
  margin: 0 350px;
}

header {
  background-color: #0D74BF;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.title {
  color: white;
  font-weight: bold;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.navigation__item {
  padding-left: 10px;
  padding-right: 10px;
}
* {
  margin: 0px;
}

header {
  background-color: #0D74BF;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.title {
  color: white;
  font-weight: bold;
}

.navigation {
  display: flex;
  padding: 10px;
}

.navigation__item {
  padding-left: 10px;
  padding-right: 10px;
  color: dimgray;
}

.navigation__item--blue {
  padding-left: 10px;
  padding-right: 10px;
  color: #0D74BF;
  font-weight: bold;
}

.navigation__item--red {
  padding-left: 10px;
  padding-right: 10px;
  color: red;
}

.page-container {
  background-color: #ECECEC;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  border-top: 1px solid cadetblue;
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.primary-panel {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 10px;
}

.image {
  width: 100%;
  object-fit: contain;
  border-radius: 5px 5px 0 0;
}

.image-text-blue {
  background-color: #0D74BF;
  color: white;
  height: 130px;
  padding: 10px;
  font-size: 30px;
  border-radius: 0 0 5px 5px;
}

.image-text-white {
  background-color: white;
  color: #0D74BF;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #0D74BF;
}

.secondary-panel {
  width: 40%;
  padding-left: 10px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  height: 100px;
}

.banner__item {
  width: 60px;
  padding: 0 30px
}